@import url('https://fonts.googleapis.com/css2?family=Farro:wght@300;400;500;700&display=swap');
/*Colors*/
:root {
    --white: #F3E1E4;
    --blue: #91a3bd;
    --gray: #b2becf;
    --pink: #e3c8c6;
    --brown: #8e7d86;
    --black: #35364A;
}

html {
    scroll-behavior: smooth !important;
}

body {
    text-align: center;
    background-color:var(--white);
    font-family: "Farro", sans-serif;
    font-weight: 800px;
    margin-top: 10vw;
    background-image:
        linear-gradient(to right, var(--gray) 1px, transparent 1px),
        linear-gradient(to bottom, var(--gray) 1px, transparent 1px);
    background-size: 2rem 2rem;
    margin-bottom: 6vw;
}

#websiteheader {
    width: 100%;
    display: block;
    padding: 1vw;
    margin: 0;
    background-color: var(--blue);
    color: var(--black);
    text-align:center;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

#rest {
    background-color: var(--pink);
    box-shadow: 10px 10px var(--black);
    padding-bottom: 60px;
}

#pagetitle {
    text-align: center;
    background-color:var(--white);
    z-index: -50;
    margin: 5em;
    padding: 3em;
    margin-bottom: 3em;
}

#left {
    text-align:left;
}

#directory {
    text-align: left;
    margin-top: 20px;
}

h1 {
    font-size: 4rem;
    color: var(--black);
    white-space: nowrap;
    min-width:0;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
    color: var(--black);
    white-space: nowrap;
    min-width:0;
}

h3 {
    color: var(--black);
    font-size: 3rem;
}

h4 {
    font-size:2em;
}

#about-me-h2 {
    text-align: left;
}

a {
    text-decoration:none;
    font-size:15px;
    color: var(--black);
    text-align: center;
}

a:hover {
    color:var(--black);
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin-right: 10px;
}

#nav {
    float: left;
}

button {
    margin-top: 10px;
    background-color:var(--white);
    transition: all 0.2s;
    color: var(--black);
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    margin-right:10px;
    width:130px;
}

#divider {
    margin-right: 10px;
    display:inline;
}

button:hover {
    box-shadow: 0.3rem 0.3rem 0 var(--black);
    transform: translate(-0.3rem, -0.3rem);
}

button:active {
    box-shadow: 0 0 0 var(--black);
    transform: translate(0, 0);
}

#mainbox {
    margin:20px;
}

#blink {
    animation: blink 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: none;
}

@keyframes blink {
    from {opacity:0};
    to {opacity:1};
}

#blue {
    background-color: var(--gray);
    margin-right:0;
}

p {
    margin-top: 10px;
}

#self {
    margin: 5rem;
    margin-bottom:0;
    box-shadow: 10px 10px var(--black);
    width: 350px;
}

#self2 {
    box-shadow: 10px 10px var(--black);
    margin: 2rem;
    width: 250px;
  }

#about-me {
    background-color:var(--white);
    padding: 3em;
    margin: 5rem;
    margin-bottom:60px;
    border-color:var(--black);
    border-style:solid;
    border-width: 2px;
    border-radius:5px;
    text-align:left;
}

#icon {
    margin-left: 5px;
}

.img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

#card {
    padding: 0rem;
    background-color: var(--white);
    margin: 1.5rem;
    margin-bottom:2.5rem;
    border: 2px solid var(--black);
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--brown);
    transition: all 0.3s ease;
}

#card-image {
    width: 100%;
    height: 15rem;
    display: block;
    object-fit: cover;
    overflow:hidden;
}

#card-text {
    border-top: 2px solid var(--black);
    text-align:left;
    padding: 1rem;
}

#card:hover {
    filter: drop-shadow(0 5px 20px var(--brown)); 
    transform: translate(0, -0.3rem);
}

#small {
    font-size: 0.9em;
    text-align:center;
}

#credits {
    margin-top: 2em;
    background-color: var(--gray);
    box-shadow: 10px 10px var(--black);
    padding: 2rem;
}

/* Create four equal columns that sits next to each other */
.img-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
    margin-bottom:40px;
}

.img-column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

/* Scrollbar stuff */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--white); 
    border: 2px solid var(--black);  
}

::-webkit-scrollbar-thumb {
    background: var(--black);  
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black); 
}

/* Expandable 1 stuff */

.expandable {
    --xy-padding: 18px;
    --border-radius: 5px;
    max-width: 35rem;
    margin: 1em 0;
    --transition-icon: 0.3s;
}

.expandable--open .expandable__content-wrapper {
    grid-template-rows: 1fr;
}

.expandable--open .expandable__icon {
    transform: rotate(-90deg);
}

.expandable__icon {
    transition: transform var(--transition-icon);
}

.expandable--open .expandable__title-bar {
    color: var(--white);
}

.expandable__title-bar:hover {
    color: var(--white);
}

.expandable__title-bar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: var(--xy-padding);
    user-select:none;
    background-color:var(--gray);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    cursor:pointer;
}

.expandable__content {
    padding: 0 var(--xy-padding);
    font-size:0.85em;
    border: 2px solid var(--gray);
    border-top: none;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
}

.expandable__content-wrapper {
    display:grid;
    grid-template-rows:0fr;
    transition: grid-template-rows 0.3s ease-out;
}

/* Expandable 2 stuff */

.expandable2 {
    --xy-padding: 10px;
    --border-radius: 5px;
    max-width: auto;
    margin: 1em 5rem;
    --transition-icon: 0.3s;
}

.expandable2--open .expandable2__content-wrapper {
    grid-template-rows: 1fr;
}

.expandable2--open .expandable2__icon {
    transform: rotate(-90deg);
}

.expandable2--open .expandable2__title {
   background-color:var(--gray);
}

.expandable2__icon {
    transition: transform var(--transition-icon);
}

.expandable2__title-bar {
    display: flex;
    align-items: center;
    justify-content:space-between;
    user-select:none;
    cursor:pointer;
    padding: 50px;
    background-color:var(--white);
}

.expandable2__title-bar:hover {
    .expandable2__title {
        animation-name: highlight2;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        background-size: 200%;
        background-image: linear-gradient(to right, var(--white) 50%, var(--gray) 50%), 
                          linear-gradient(transparent 50%, var(--white) 50%);
    }
}

@keyframes highlight2 {
    from {
      background-position: 0;
    }

    to {
      background-position: -100%;
    }
}

.expandable2__content {
    padding: 0 2rem;
    background-color:var(--white);
    overflow: hidden;
}

.expandable2__content-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}

@media screen and (max-width: 1024px) {
    body {
        margin-top: 20vw;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    h4 {
        font-size:1.5em;
    }
    #about-me {
        text-align:center;
        padding: 1em;
        margin: 2.5em;
    }
    #about-me-h2 {
        text-align:center;
        margin-top: 1em;
    }

    .expandable__content {
        text-align:left;
    }
    #self {
        width:40%;
        margin:1rem;
        margin-top:5rem;
    }
    #self2{
        width: 50%;
    }
    #card {
        margin: 2rem 0;
        p {
            font-size: 0.9em;
        }
    }
    #card-image {
        height:15em;
    }
    #pagetitle {
        margin: 2.5em;
    }

    .expandable2 {
        margin: 2em;
    }

    button {
        width: 90%;
    }
    #left {
        text-align: center;
    }
    #right-nav {
        width:0;
        visibility: hidden;
    }
}